<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/#">
    <link rel="stylesheet" href="/style/main.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

    <title>error 404</title>
</head>
<body>
    
    <div class="logo"><a href="http://127.0.0.1:3000/"><img width="30%" src="/pic/cat.jpg"></a></div>
    <div class="products-div" id="products-div">
        <div class="product"><a href="http://127.0.0.1:3000/"><<<--- Назад</a></div>
        <div class="product"><b>Помилка 404</b></div>
        <div class="product">Сторінка не існує</div>
    </div>

</body>
</html>







