<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/#">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

    <title>My Shop</title>
</head>
<body>
    
    <div class="logo"><a href="http://127.0.0.1:3000/"><img width="30%" src="/pic/cat.jpg"></a></div>
    <div class="sitehead">Wellcome</div>
    <div class="menu-block">Menu</div>
    <div class="preloader" id="preloader">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="products-div" id="products-div">
        <!-- Тут буде генеруватись список товарів -->
    </div>
    <script src="./js/main.js"></script>
</body>
</html>







